@page "/"
@inject NavigationManager navManager;

<div>
    Bla bla
</div>

@code{ 
    protected override Task OnInitializedAsync()
    {
        navManager.NavigateTo("/main");
        return Task.CompletedTask;
    }
}