@page "/"
@inject NavigationManager navMeneger;

<div>
    Bla bla
</div>

@code{ 
    protected override Task OnInitializedAsync()
    {
        navMeneger.NavigateTo("/authorization");
        return Task.CompletedTask;
    }
}