@page "/profile"
@layout MainLayout
@using OnlineShop.Client.Services.State
@using OnlineShop.Shared
@inject HttpClient client
@inject IDialogService Dialog

<h3>Profile</h3>
<MudText>User: @AppState.UserState.UserName</MudText>
<MudTabs Outlined="true" Position="Position.Top" Rounded="true" Border="true" ApplyEffectsToContainer="true" Class="mt-8" PanelClass="pa-6">
    <MudTabPanel Text="Покупки" Icon="@Icons.Material.Filled.ShoppingCart">
        <PurchaseView Purchases="Purchases"></PurchaseView>
    </MudTabPanel>
    <MudTabPanel Text="Сохраненные рисунки" Icon="@Icons.Material.Filled.Image">
        <ImagesView Images="Images"></ImagesView>
    </MudTabPanel>
</MudTabs>

@code {

    [CascadingParameter(Name = "AppState")]
    public AppState AppState { get; set; }

    public UserImage[] Images;
    public PurchaseGoods[] Purchases;

    protected override async Task OnInitializedAsync()
    {
        var requestOperations = await client.PostAsJsonAsync("api/Operations/GetUserOperations", 1);
        var requestImages = await client.PostAsJsonAsync("api/Image/GetImages", 1);
    //if (requestOperations.StatusCode != HttpStatusCode.Unauthorized && requestImages.StatusCode != HttpStatusCode.Unauthorized)
    //{
        Purchases = await requestOperations.Content.ReadFromJsonAsync<PurchaseGoods[]>();
        Images = await requestImages.Content.ReadFromJsonAsync<UserImage[]>();
    //}
    //else
    //{
    //    Dialog.Show<AuthDialog>();
    //}
    }


}