@page "/profile"
@layout MainLayout
@using OnlineShop.Client.Services.State
@using OnlineShop.Shared
@inject HttpClient client
@inject IDialogService Dialog

<h3>Профиль</h3>
<MudText>Имя пользователя: @AppState.UserState.UserName</MudText>
<MudTabs Outlined="true" Position="Position.Top" Rounded="true" Border="true" ApplyEffectsToContainer="true" Class="mt-8" PanelClass="pa-6">
    <MudTabPanel Text="История покупок" Icon="@Icons.Material.Filled.ShoppingCart">
        <Print Id="barChart" @ref="@printer">
            <PurchaseView Purchases="Purchases"></PurchaseView>
        </Print>
        <MudButton OnClick="()=> printer.PrintDialog()">Печать</MudButton>
    </MudTabPanel>
    <MudTabPanel Text="Галерея" Icon="@Icons.Material.Filled.Image">
        <ImagesView Images="Images"></ImagesView>
    </MudTabPanel>
</MudTabs>

@code {

    [CascadingParameter(Name = "AppState")]
    public AppState AppState { get; set; }

    private Print printer;
    public UserImage[] Images;
    public PurchaseGoods[] Purchases;

    protected override async Task OnInitializedAsync()
    {
        var requestOperations = await client.PostAsJsonAsync("api/Operations/GetUserOperations", 1);
        var requestImages = await client.PostAsJsonAsync("api/Image/GetImages", 1);
        Purchases = await requestOperations.Content.ReadFromJsonAsync<PurchaseGoods[]>();
        Images = await requestImages.Content.ReadFromJsonAsync<UserImage[]>();
    }


}