@using OnlineShop.Client.Services.State
@inject IDialogService _dialogService

<span class="infoButton">
    <MudIconButton Icon="@Icons.Material.Filled.Info" Color="Color.Secondary" OnClick="DisplayState" Size="Size.Large"/>
</span>

@code {

    [CascadingParameter(Name = "AppState")]
    public AppState AppState { get; set; }

    private void DisplayState()
    {
        _dialogService.ShowMessageBox("State", AppState.UserState.ToString());
    }

}