@inherits LayoutComponentBase
@using MudBlazor;

<MudLayout>
    <MudAppBar Elevation="1">
        @if (!navMenuOpen)
        {
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="DrawerToggle"/>
            <MudLink Href="/main" Underline="Underline.None" Color="Color.Default" Typo="Typo.h5" Class="ml-3 my-auto" Style="color: #fefefe !important;">
                OnlineShop
            </MudLink>
        }
        <MudSpacer/>
        <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End"/>
    </MudAppBar>
    <NavMenu Open=@navMenuOpen ClickedClose="DrawerToggle"></NavMenu>
    <MudMainContent>
        <div class="content px-4">
            @Body
        </div>
    </MudMainContent>
</MudLayout>
<AppStateViewer></AppStateViewer>

@code{
    bool navMenuOpen = true;

    void DrawerToggle()
    {
        navMenuOpen = !navMenuOpen;
    }

}