<MudDrawer @bind-Open="Open" Variant="@DrawerVariant.Responsive">

    <MudDrawerHeader Style="height: calc(var(--mud-appbar-height) - var(--mud-appbar-height)/4);">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="onClicked"/>
        <MudLink Href="/" Underline="Underline.None" Color="Color.Default" Typo="Typo.h5" Class="ml-3 my-auto">
            OnlineShop
        </MudLink>
    </MudDrawerHeader>

    <MudDrawerContainer>
        <MudNavMenu>
            <MudNavLink Href="">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </MudNavLink>
            <MudNavLink Href="/counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </MudNavLink>
            <MudNavLink Href="/fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </MudNavLink>
            <MudNavLink Href="/editor">Editor</MudNavLink>
        </MudNavMenu>
    </MudDrawerContainer>
</MudDrawer>

@code {

    [Parameter]
    public bool Open { get; set; } = false;

    [Parameter]
    public EventCallback ClickedClose { get; set; }

    private void onClicked()
    {
        ClickedClose.InvokeAsync();
    }

}