@using System.Data.Common

<div class="print-content">
    <div class="print-visible">
        @PrintHeader
    </div>
    <div class="print-hide">
        @HideHeader
    </div>

    @PrintBody

    <div class="print-hide">
        @HideFooter
    </div>
    <div class="print-visible">
        @PrintFooter
    </div>
</div>

@code {

    [Parameter]
    public RenderFragment HideHeader { get; set; }

    [Parameter]
    public RenderFragment HideFooter { get; set; }

    [Parameter]
    public RenderFragment PrintHeader { get; set; }

    [Parameter]
    public RenderFragment PrintBody { get; set; }

    [Parameter]
    public RenderFragment PrintFooter { get; set; }
}