@page "/authorization"
@using OnlineShop.Shared

@inject NavigationManager navManager;

<h3>Auth</h3>

@code{
    protected override Task OnInitializedAsync()
    {
        navManager.NavigateTo("/authorization/login");
        return Task.CompletedTask;
    }
}
