@page "/authorization/login"

@using OnlineShop.Shared
@inject HttpClient client

<h3>Login</h3>
<div>
    <EditForm Model="@credentials" class="form-group">
        <InputText @bind-Value="@credentials.Login" class="form-row"/>

        <InputText @bind-Value="@credentials.Password"  class="form-row"/>

        <button @onclick="OnLogin" class="btn btn-primary" > Login</button>
    </EditForm>

    <label class="alert-warning">@labelValue</label>

    <a href="/authorization/register">To registration </a>
</div>


@code {
    UserCredentials credentials;

    string labelValue;

    public Login()
    {
        credentials = new UserCredentials();
    }


    private async Task OnLogin()
    {
        var request = new HttpRequestMessage(HttpMethod.Put, "/auth");
        request.Content = JsonContent.Create<UserCredentials>(credentials);
        var user = await client.SendAsync(request);
        Console.WriteLine(user);
    }
}