@page "/authorization/register"
@using MudBlazor
@using OnlineShop.Shared
@inject HttpClient client

<h3>Register</h3>
<div>
    <MudPaper>

        <EditForm Model="credentials" class="form-group">

            <InputText @bind-Value="@credentials.UserName" class="form-row"/>
            <InputText @bind-Value="@credentials.Password" class="form-row"/>
            <InputText @bind-Value="@passwordRepeated" class="form-row"/>

            <button @onclick="OnRegister">Register</button>
        </EditForm>
        @if (errString != null)
        {
            <MudAlert Severity="Severity.Error">"WADAS"</MudAlert>
        }

        <a href="/authorization/login">To login </a>
    </MudPaper>
</div>


@code {
    UserCredentials credentials;
    string passwordRepeated;
    string? errString;

    public Register()
    {
        credentials = new UserCredentials();
    }

    private async void OnRegister()
    {
        if (passwordRepeated != credentials.Password)
        {
            errString = "Passwords dont match";
        }
        else
        {
            try
            {
                var response = await client.PostAsJsonAsync<UserCredentials>("api/Auth", credentials);
                User user = await response.Content.ReadFromJsonAsync<User>();
                Console.WriteLine(user);
            }
            catch (Exception e)
            {
                errString = e.Message;
                Console.WriteLine(e);
                throw;
            }
        }
    }

}