<div>
    <h1>@Name</h1>
    <p>@Price</p>
    <button @onclick="OnBuy">Купить</button>
    <br>
</div>

@code{

    [Parameter]
    public int ID { get; set; }

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public int Price { get; set; }

    [Parameter]
    public EventCallback<int> OnBuyGood { get; set; }

    private void OnBuy()
    {
        OnBuyGood.InvokeAsync(ID);
    }
}